HELP.md

# Maven
target/
maven-wrapper.jar
maven-wrapper.properties

# IDE-specific
.idea/
.vscode/

# Compiled Java
*.class
# Logs
*.log

# # Node.js
node_modules/
npm-debug.log
package-lock.json

# Vue.js
/dist/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


